{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
  <h1>{{ post.title }}</h1>
  {% if post.preview %}<p><img src="{{ post.preview.url }}" alt="" width="300"></p>{% endif %}
  <article>{{ post.content|linebreaks }}</article>
  <p><strong>Просмотры:</strong> {{ post.views }}</p>
  <p>
    <a href="{% url 'blogs:post_update' post.pk %}">Редактировать</a> |
    <a href="{% url 'blogs:post_delete' post.pk %}">Удалить</a> |
    <a href="{% url 'blogs:post_list' %}">Назад к списку</a>
  </p>
{% endblock %}
